<div class="card shadow mb-4">
    <div class="card-body">
        <h3>
            <i class="fa-solid fa-qrcode me-2"></i> {{ trans('verifactu') }}
        </h3>
        <hr>
        <div class="row align-items-center">
            <div class="col-md-6">
                <a href="{{ 'Plugins/Verifactu/DECLARACION_RESPONSABLE.md' }}" target="_blank" download="DECLARACION_RESPONSABLE.md">
                    Descargar declaración responsable
                </a>
            </div>
            <div class="col-md-6 text-center">
                <img src="Plugins/Verifactu/Assets/Images/verifactu-logo.png" alt="Verifactu" class="img-fluid" style="max-height: 80px;">
            </div>
        </div>
    </div>
</div>